* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(1, 10, 28);
    color: azure;
    height: 4.5vh;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}

.nav .part1, .nav input {
    background-color: rgb(50, 58, 74);
    border: none;
    height: 4vh;
}

.part1, .part2, .part3 {
    display: flex;
    gap: 1vh;
    align-items: center;
}

.part1 {
    background-color: rgb(1, 16, 48);
}

.part1 input {
    width: 20vw;
    height: 3vh;
    margin-top: -.5vh;
}

.part3 {
    gap: 2vh;
}

.part3 svg, .part3 p {
    padding: .1rem;
    border: 0.1rem solid white;
}

.part1, .part2, .part3 p {
    font-size: 1.3rem;
    margin-top: 1vh;
}

.sec1 {
    display: flex;
    width: 75vw;
    margin: auto;
    margin-top: 7vh;
}

.sec2 {
    width: 75vw;
    margin: auto;
    margin-top: 7vh;
    text-align: center;
}

.img img {
    width: 50vw;
    height: 60vh;
}

.main {
  background: linear-gradient(170deg, #f9dce0, #c6e6f4);
  height: 100vh;
  overflow: auto;
}

.text h1{
    font-size: 5rem;
}

.text p{
    font-size: 1.6rem;
    word-spacing: .1rem;
    margin-top: 2vh;
    line-height: 4vh;
}

.start {
    background: linear-gradient(0deg, #fa7e02, #faa803);
    color: black;
    margin-top: 7vh;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: 0.3rem solid rgb(255, 115, 0);
    cursor: pointer;
}

.start:hover {
    background: linear-gradient(0deg, #ffc85a, #ff9122);
}

.companies {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.com1, .com2, .com3, .com4, .com5 {
    display: flex;
    align-items: center;
    margin: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(50, 50, 50);
    justify-content: space-evenly;
}

.footer {
    background-color: rgb(50, 58, 74);
    color: white;
    text-align: center;
    padding: 2rem;
}

.reasons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20rem;
    margin-top: 5vh;
    width: 80vw;
    height: auto;
    margin-left: 15rem;
}

.r1, .r2, .r3, .r4 {
    width: 30rem;
    text-align: left;
}

.r3, .r4 {
    margin-top: -10rem;
}

@media (max-width: 800px) {
    .img {
        display: none;
    }

    .companies {
        display: flex;
        flex-wrap: wrap;
    }

    .reasons {
        text-align: left;
        margin-left: 0;
    }

    .part1 {
        display: none;
    }

    .r1 {
        margin-bottom: -30vh;
    }
}