* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(1, 10, 28);
  color: azure;
  height: 4.5vh;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
}

.nav .part1,
.nav input {
  background-color: rgb(50, 58, 74);
  border: none;
  height: 4vh;
}

.part1,
.part2,
.part3 {
  display: flex;
  gap: 1vh;
  align-items: center;
}

.part1 {
  background-color: rgb(1, 16, 48);
}

.part1 input {
  width: 20vw;
  height: 3vh;
  margin-top: -.5vh;
}

.part3 {
  gap: 2vh;
}

.part3 svg,
.part3 p {
  padding: .1rem;
  border: 0.1rem solid white;
}

.part1,
.part2,
.part3 p {
  font-size: 1.3rem;
  margin-top: 1vh;
}

/* above this line is the nav bar css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;
  color: #1a1a1a;
}

.main {
  width: 50vw;
  margin: auto;
}

.info {
  background-color: white;
  width: 49vw;
  height: 15vh;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  border: .1rem solid gray;
}

.info .edit {
  margin: 1vh;
}

.stats {
  background-color: white;
  width: 49vw;
  height: 18vh;
  margin-top: 3vh;
  border: .1rem solid gray;
}

.lables {
  display: flex;
  justify-content: space-between;
  margin: 3vh 1vh 0vh 1vh;
  font-size: 1.5rem;
  font-weight: 600;
}

.stats h3 {
  margin: 2vh 0vh 0vh 1vh;
  font-size: 2rem;
  font-weight: 500;
}

.Activity {
  text-align: left;
  background-color: white;
  width: 49vw;
  height: 38vh;
  margin-top: 3vh;
  border: .2vh solid #000;
}

.months {
  display: flex;
  justify-content: space-between;
  width: 48vw;
  font-size: 1.5rem;
  color: #666;
  margin: 1vh;
}

.graph {
  display: flex;
  gap: .1vw;
  margin-left: 3%;
  margin-bottom: -1vh;
}

.week {
  display: grid;
  grid-template-rows: repeat(7, 1.5vw);
  gap: 0.1vw;
}

.day {
  border: 1px solid black;
  width: 1.5vw;
  height: 3vh;
  background: #e5e7eb;
  border-radius: 0.1vw;
}

.day.active {
  background: #0a0a23;
  border: 1px solid black;
}

.Activity h3 {
  margin: 1vh 0vh 0vh 1vh;
  font-size: 2rem;
  font-weight: 500;
}

.Activity p {
  margin: 2vh 0vh 1vh 1vh;
  font-size: 1.2rem;
  color: #333;
  text-align: center;
}

.Certification {
  text-align: left;
  background-color: white;
  width: 49vw;
  height: 18vh;
  margin-top: 3vh;
  border: .2vh solid #000;
}

.Certification button {
  margin: 4% 5% 2% 20%;
  padding: 1vh 10vh;
  font-size: 2rem;
  background-color: #c8c8ce;
  color: black;
  border: .4vh solid #000;
  cursor: pointer;
}

.Certification button:hover {
  margin: 4% 5% 2% 20%;
  padding: 1vh 10vh;
  font-size: 2rem;
  background-color: #0c0c29;
  color: white;
  border: .4vh solid #000;
  cursor: pointer;
}

.Certification h3 {
  margin: 1vh 0vh 0vh 1vh;
  font-size: 1.5rem;
  font-weight: 500;
}

/* above this line is the body css */


.footer {
  margin-top: 5vh;
  padding: 5vh 8vw 3vh;
  background-color: rgb(228, 231, 243);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5vh;
}

.footer-left {
  flex: 1;
  min-width: 25vw;
  max-width: 40vw;
  font-size: 1.4vh;
  line-height: 1.6;
  color: #333;
}

.footer-left a {
  color: #1a1a1a;
  text-decoration: underline;
}

.footer-right {
  flex: 2;
  min-width: 35vw;
}

.footer-right h4 {
  font-weight: bold;
  margin-bottom: 1.5vh;
}

.footer-links {
  display: flex;
  gap: 5vh;
  margin-bottom: 4vh;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links a {
  color: #1a1a1a;
  text-decoration: none;
  font-size: 1.6vh;
  line-height: 1.8;
}

.footer-links a:hover {
  text-decoration: underline;
}

.app-buttons img {
  width: 10vw;
  margin-right: 1vw;
}

.footer-bottom {
  border-top: 0.1vh solid #d1d5db;
  margin-top: 4vh;
  padding-top: 2vh;
  text-align: center;
}


.footer-bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vh;
}

.footer-bottom a {
  color: #1a1a1a;
  text-decoration: none;
  font-size: 1.6vh;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

/* above this line is the footer css */

@media (max-width: 800px) {
  .part1 {
    display: none;
  }

  .Activity, .stats, .Certification {
    display: none;
  }
}