* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* below this line is the header css */

.offer {
  background-color: rgb(43, 12, 12);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding: 1.2rem;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLeft {
  margin-left: 1.5rem;
}

.navLeft ul {
  display: flex;
  width: 70%;
  height: 5rem;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.5rem;
}

.navRight svg{
  margin: 0 .5rem 0 .1rem;
}

/* below this line is the hero section css */

.hero {
  position: relative;
  width: 100%;
  height: 90vh; 
  overflow: hidden;
}

.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 0;
}

.hero .content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: left;
  top: 30%;
  margin: 5rem;
  line-height: 4rem;
}

.hero .content h1 {
  line-height: 2rem;
}

.hero .content button {
  padding: 1.5rem 3.5rem;
}
