* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

.shipping {
  background-color: black;
  color: white;
  text-align: center;
  height: 30px;
  padding: 5px;
}

.current {
  text-decoration: underline 3px solid orange;
  color: rgb(255, 131, 22);
}
/* below this line is the search bar css */

.search {
  background-color: rgb(230, 230, 230);
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  margin-right: 20px;
  display: flex;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.search input {
  width: 90%;
  height: 40px;
  background-color: rgb(230, 230, 230);
  border: none;
}

.ham {
  display: none;
}

.glass {
  display: none;
}

/* below this line is the navbar css */

.navBar ul {
  display: flex;
  justify-content: center;
  gap: 80px;
  font-size: 1.3rem;
}

.section1 {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 10px 0px 20px 0px;
  z-index: 100;
}

/* below this line is the title css */

.section2 {
  margin: 4rem;
}

.section2 p {
  margin-top: 1.5rem;
}

.section2 h1 sub {
  font-size: 1rem;
  font-weight: 600;
  color: grey;
}

/* below this line is the filters section css */

.filters {
  display: flex;
  margin: 1rem;
  height: 3rem;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem;
  gap: .5rem;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: .5rem;
}

.sortA,
.sortB {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sortB {
  margin-right: 1rem;
}

.sortA h3,
.sortB h3 {
  margin-right: 6px;
}

/* below this line is the aside section css */

aside {
  width: 85%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: auto;
  border-right: 1px solid black;
}

.container {
  display: flex;
  height: 400px;
  overflow: auto;
  margin-bottom: 1rem;
  position: sticky;
  z-index: 0;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin: .5rem;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

input {
  height: 1.5rem;
  width: 1.5rem;
}

.left {
  display: flex;
  gap: .5rem;
}

.left p {
  display: flex;
  align-items: center;
}

.priceRange,
.priceRangeLeft,
.priceRangeRight {
  display: flex;
}

.priceRangeLeft,
.priceRangeRight {
  padding: .7rem 0rem .7rem 0rem;
  border: .2rem solid rgb(174, 172, 172);
  width: 40%;
  margin: 1.5rem .5rem;
}

.priceScroll svg {
  margin: 0rem 2rem;
}

/* below this line is the content css */

.rating {
  display: flex;
  align-items: center;
}

.rating img {
  width: 10rem;
}

.item_price {
  display: flex;
  font-size: 1.3rem;
}

.color {
  display: flex;
  gap: 1rem;
  margin-top: .5rem;
}

.color p {
  border: 1px solid grey;
  padding: 0.2rem;
  background-color: #dbdbdb;
  color: #6e6e6e;
}

.items {
  width: 33%;
  margin-top: 1rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3rem;
  scrollbar-width: none;
}

.option {
  background-color: #000;
  color: white;
  height: 3rem;
  margin-bottom: 1rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.items:hover .option{
  display: flex;
  justify-content: center;
  align-items: center;
}

.option:hover {
  background-color: #383737;
}

/* below is footer css */

footer {
  background-color: rgb(228, 234, 240);
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
}

.parts {
  flex: 1;
  min-width: 200px;
  margin: 1rem;
}

footer img {
  width: 200px;
}

.part1 p {
  max-width: 400px;
  font-size: 14px;
  margin-bottom: 20px;
}

.contact {
  display: flex;
  gap: .5rem;
  margin-bottom: 1.5rem;
}

.flag {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.flag img {
  width: 8%;
  height: 1.5rem;
  object-fit: cover;
  border-radius: 2px;
}

.parts h3 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.parts p {
  font-size: 1rem;
  margin: .3rem 0;
}

.part4A p {
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.part4A input {
  width: 90%;
  padding: .5rem;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: white;
  color: #000;
}

.part4B {
  display: flex;
  gap: 1.5rem;
  margin: 3rem 0;
}

.part4B img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 3px;
}

.part4 hr {
  border: none;
  border-top: 1px solid #bbb;
  margin: 2rem 0;
}

.part4 {
  font-size: 1rem;
}

/* below are media queries */

@media (max-width: 800px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 40px;
  }

  .parts {
    width: 100%;
    margin: 10px 0;
    border-top: 1px solid #ccc;
    padding: 15px 0;
  }

  .flag {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 20px;
  }

  .flag img {
    width: 28px;
    height: 20px;
  }

  .contact {
    display: none;
  }

  .parts h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
  }


  .parts p {
    display: none;
  }


  .part4A input {
    width: 100%;
  }

  .part4 hr {
    margin: 15px 0;
  }

  .navBar,
  .search {
    display: none;
  }

  .ham,
  .glass {
    display: block;
  }

  aside {
    display: none;
  }

  .items {
    width: 50%;
  }
}

@media(max-width: 600px) {
  .sortA {
    display: none;
  }
}

@media(max-width: 400px) {
  .items {
    width: 70%;
  }
}