* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  letter-spacing: none;
}

body {
  background-color: #f4f4f4;
  width: 50%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  color: rgb(83, 68, 2);
  font-weight: bolder;
  font-size: 2.5rem;
}

header sub {
  color: grey;
  font-weight: 500;
  margin-left: -2vh;
}

nav ul {
  list-style: none;
  display: flex;
  font-size: 1.5rem;
  gap: 5vh;
  align-items: center;
  margin-top: 1.5vh;
  background-color: #b8b6b6;
  height: 4vh;
  padding: 0 2vh;
  border: .1vh solid #757171;
}

nav ul li .link {
  display: block;
  border-radius: .5vh;
  color: black;
}

nav ul li:hover .link {
  cursor: pointer;
  background-color: rgb(223, 148, 9);
  color: white;
}

/* above this is css for navbar and header */

h2 {
  color: rgb(83, 68, 2);
  margin-top: 1vh;
  font-size: 2rem;
  margin: 2vh 0vh .5vh 0vh;
}

.Schedule ul li {
  margin-left: 3vh;
}

.news_item {
  margin: 1vh 0vh 1vh 0vh;
  background-color: #cdcbcb;
  padding: 1vh;
  border: .1vh solid #757171;
}

h3 {
  margin-bottom: 1vh;
  font-size: 1.3rem;
}

p {
  font-size: 1.1rem;
  font-family: sans-serif;
  letter-spacing: .05rem;
}

.hamburger {
  display: none;
}

@media (max-width: 1390px) {
  body {
    margin: 0;
    width: 98vw;
  }
}

@media (max-width: 800px) {
  body {
    margin: 0;
    width: 98vw;
  }

  .hamburger {
    display: block;
  }

  li {
    display: none;
  }

}