* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header {
    background-image: url(https://instamart-media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_2560/MERCHANDISING_BANNERS/IMAGES/MERCH/2025/9/19/30d018e4-4839-4210-843f-9be84f55a73d_HeaderMHNew20.png);
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-self: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.Header img {
    height: 120px;
}

.item1{
    margin-top: 10px;
    height: 300px ;
    display: flex;
    gap: 23.2px;
    align-content: center;
   
}
.item img{ 
    height: 150px;
    width: 150px;
}

.head {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}